<div class="container-fluid">

    <div class="py-5 text-center">
        <h1><b> شهادة تنقل استثنائية </b></h1>
    </div>

    <div class="row">
        
        <div class="col-md-6 card border">
            <form [formGroup]="CovidGroup" (ngSubmit)="submit()">
                <div class="row mr-ml-1 mt-4">
                    <div class="col-md-6">
                        <label for="firstName">الاسم العائلي</label>
                        <input type="text" class="form-control" formControlName="nom" name="nom" id="nom"  />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">الاسم الشخصي </label>
                        <input type="text" class="form-control" formControlName="prenom" id="prenom" name="prenom" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address">رقم البطاقة الوطنية للتعريف</label>
                        <input type="text" class="form-control" formControlName="cin" id="cin" name="cin" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address">الجهة</label>
                        <input type="text" class="form-control" formControlName="region" id="region" name="region" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address">عمالة / إقليم </label>
                        <input type="text" class="form-control"  formControlName="province" id="province" name="province" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address">رقم </label>
                        <input type="text" class="form-control" formControlName="numero" id="numero" name="numero" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address">التاريخ </label>
                        <input type="date" class="form-control" formControlName="date" id="date" name="date" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="address2">العنوان</label>
                        <input type="text" class="form-control" formControlName="address" id="address" name="address" />
                    </div>
                    
                </div>
                <legend class="col-form-label pt-0">الغرض</legend>
                <!-- <div *ngFor="let item of chooses">
                    <div>
                        <input type="checkbox" name=" {{ item.nom }} " (change)="onChange()" [(ngModel)]="item.isselected"/>
                        <label class="form-check-label" for="save-info"> {{ item.nom }} </label>
                    </div>
                </div>  -->
                <hr />
                <button class="btn btn-primary m-0" type="submit" [value]="logState" (click)="toggle()" aria-current="page">Imprimer</button>
                <button class="btn btn-primary m-2" type="reset" aria-current="page">Annuler</button>
            </form>
        </div>

        <div class="col-md-6 card border">
            <div class="mr-ml-1 mt-4 card-body">
                <div class="float-right">
                    <h6 class="text-center">
                        <b>
                            المملكة المغربية
                            <br />
                            وزارة الداخلية
                        </b>
                    </h6>
                </div>
                <div class="float-left h6"><b> التاريخ : </b>  {{ CovidGroup.value.date | date:"yyyy/MM/dd" }}</div>
                <div class="clearfix"></div>

                <div class="text-left">
                    <b>جهة : </b>
                    {{ CovidGroup.value.region }}
                    <br />

                    <b>عمالة / إقليم : </b>
                    {{ CovidGroup.value.province }}
                    <br />

                    <b>رقم : </b>
                    {{ CovidGroup.value.numero }}
                    <br />
                </div>
                <br />

                <p class="text-center h4">
                    <ins><b>شهادة تنقل استثنائية </b></ins>
                </p>
                <br />
                <br />

                <div class="text-left">
                    <p>أنا الموقع (ة) أسفله</p>

                    <b>السيد (ة) : </b>
                    {{ CovidGroup.value.nom }} 
                    {{ CovidGroup.value.prenom }}
                    <br />

                    <b>رقم البطاقة الوطنية للتعريف اإللكترونية : </b>
                    {{ CovidGroup.value.cin }}
                    <br />

                    <b>العنوان : </b>
                    {{ CovidGroup.value.address }}
                    <br />
                    <br />
                    <p class="text-left">
                        أشهد أن تنقلي خارج المسكن تفرضه الضرورة المشار إليها أسفله
                        <u>(ضع عالمة على الخانة المناسبة)</u>:
                    </p>
                    
                    <!-- <div *ngFor="let item of chooses">
                        <ng-template [ngIf]="item.isselected">
                            <p><input class="form-check-input" type="checkbox" checked /> {{ item.nom }}</p>
                        </ng-template>
                    </div> -->
                    <br />
                    
                    <div class="pt-10">
                        <div class="float-right">
                            <h6 class="text-center">
                                <u><b> إمضاء صاحب الشهادة </b></u> :
                            </h6>
                        </div>
                        <div class="float-left">
                            <h6 class="text-center">
                                <u><b> إمضاء العون المراقب </b></u> :
                            </h6>
                        </div>
                    </div>

                    <div class="">
                        <p>
                            <br />
                            <br />
                            <br />
                            <br />
                        </p>
                    </div>

                    <hr class="mt-5 mb-2" />
                    <p class="text-left">
                        (*) بعد موافقة العون المراقب
                    </p>
                </div>
            </div>

            
        </div>
    </div>
    
</div>

<div *ngIf="isAuth, then welcome else error">
</div> 
<ng-template #welcome>
    <div class="container w-50">
        <div class="alert alert-success p-3 mt-5 text-center" role="alert">
            تم التسجيل بنجاح!
        </div>
    </div>
</ng-template>
<ng-template #error>
    <div class="container w-50">
        <div class="alert alert-danger p-3 mt-5 text-center" role="alert">
            خطأ في التسجيل، يرجى إعادة المحاولة!
        </div>
    </div>
</ng-template>